<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/stylesheet/style.css"> 
</head>

<body>
    <header>
        <h1>Contact Us</h1>
    </header>
<section>
    <h1>Submit Form</h1>
    <form action="/submit" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required><br>
  
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required><br>
  
      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea><br>
  
      <button type="submit">Submit</button>
    </form>
</section>
<section>
        <p>Contact Information:</p>
        <ul>
            <li>Email: <a href="mailto:vyshnavirao100@gmail.com">vyshnavirao100@gmail.com</a></li>
            <li>Phone: +1 314 358 0712</li>
            <li>Address: 4525 Lindell Blvd, Saint Louis</li>
            <li><a href="https://www.linkedin.com/in/vyshnavi-rao-ponnamaneni-b374541b1/" target="_blank">linkedin</a></li>
        </ul>

      
    </section>
    <button id="modeToggleBtn">Toggle Mode</button>
    <script type="text/javascript" src="/javascript/script.js"></script>
  

</body>

</html>